@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

:root {
  font-size: 16px;
  font-family: 'Silkscreen', cursive;
}

*  {
    box-sizing: border-box;
}

.body {
    margin: 0;
    padding: 0;
}
.table {
    background-color: #4900f3;
    height: 100vh;
    padding-top: 5rem;
}
.container {
    margin: auto;
    width: 40vw;
}

.title {
    color: #fff;
}

.score {
    color: #fff;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 0.5rem;

    background-color: #f3eb04;
    width: 40vw;
    padding: 0.5rem;

    border-radius: 0.625rem;
    box-shadow: 0.875rem 0.875rem 0 0 #0004;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    width: 5rem;
    height: 6rem;
    background-color: #ffcfc7;
    border-radius: 0.625rem;
    justify-content: center;

    cursor: pointer;
    color: transparent;

    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
}

.open {
    background-color: red;
    color: black;
    transform: rotateY(0deg);
}